extends layout

block content
    .container.row(ng-controller="mainController")
        .col-md-4
          input.form-control(type="text" ng-model="name")
        .container.pull-left
          h1.greeting Hello {{name}}!
                  
